# Unreal Engine build and cache folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / VSCode
.vscode/
.vs/
*.VC.db
*.sln
*.suo
*.user
*.userprefs

# Backups / Logs / Temp files
*.log
*.tmp
*.bak
*.pdb
*.cache
*.obj
*.exe
*.dll
Backup/
Autosaves/
